{{ define "main" }}
<main class="books-layout">
    <section class="books-catalog">
        <header class="books-catalog__header">
            <h1>Общая страница таксономии {{ .Title }}</h1>
            Booktags — «о чём внутри, ключевые темы и вопросы»
            Это гибкие темы и интересы, которые могут быть очень конкретными, часто много штук на одну книгу.

            Примеры значений:

            кимоно

            катана

            традиции

            ритуалы с катаной

            этикет додзё

            страховка в бросках

            травмы и восстановление

            психология поединка

            подготовка детей

            силовая подготовка, мобилити и т.п.

            Где указывать: в booktags:

            text
            booktags:
            - "кимоно"
            - "катана"
            - "традиции"
            - "ритуалы с катаной"
            Это отвечает на вопрос «какие конкретные темы и мотивы раскрываются в книге».
        </header>

        {{ $pages := where .Pages "Section" "books" }}
        {{ if not $pages }}
        <!--<p>TBD</p>-->
        {{ else }}
        {{ $pages = sort $pages ".Params.year" "desc" }}

        <div class="books-catalog__grid">
            {{ range $pages }}
            <!-- сюда вставь ту же разметку карточки, что в layouts/books/list.html -->
            {{ end }}
        </div>
        {{ end }}
    </section>
</main>
{{ end }}
