{{ define "main" }}
<main class="books-layout">
    <section class="books-catalog">
        <header class="books-catalog__header">
            <h1>Общая страница таксономии {{ .Title }}</h1>
        </header>

        {{ $pages := where .Pages "Section" "books" }}
        {{ if not $pages }}
        <!--<p>TBD</p>-->
        {{ else }}
        {{ $pages = sort $pages ".Params.year" "desc" }}

        <div class="books-catalog__grid">
            {{ range $pages }}
            <!-- сюда вставь ту же разметку карточки, что в layouts/books/list.html -->
            {{ end }}
        </div>
        {{ end }}
    </section>
</main>
{{ end }}
